<header>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">Edex</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbars">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Exchange <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Funding</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Orders</a>
          </li>
        </ul>
        <ul class="navbar-nav my-2 my-md-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> <i class="fa fa-cog" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<section class="funding-sec">
  <div class="container">
    <div class="sec-heading d-flex justify-content-between align-content-center">
      <h1 class="h1 d-block section-heading">
        Funding
      </h1>
      <span class="est-value">
         Estimated value:<span>1,837.76 EUR</span>
      </span>
    </div>
    <div class="tab-section mt-3">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#Funding">Funding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#History">History</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div id="Funding" class="container tab-pane active">
          <table class="table fold-table">
            <thead>
            <tr>
              <th width="15%">Token</th>
              <th width="20%">Name</th>
              <th width="20%">Available</th>
              <th width="15%">Orders</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr class="view open">
              <td>ETH</td>
              <td>Ethereum</td>
              <td>0.17</td>
              <td>0.17</td>
              <td class="text-right">
                <a class="btn btn-sm btn-dark">Deposit</a>
                <a class="btn btn-sm btn-dark">Withdrawal</a>
                <a class="btn-link close-btn">Close</a>
              </td>
            </tr>
            <tr class="fold open">
              <td colspan="5">
                <div class="row">
                <div class="col-md-6">
                  <form>
                    <input type="text" placeholder="Address">
                    <input type="text" placeholder="Amount">
                  </form>
                  <div class="sec-heading d-flex justify-content-between align-content-center">
                    <div class="d-block">
                      <span class="est-value">Estimated value:<span>1,837.76 EUR</span></span>
                    </div>
                    <span class="est-value">Estimated value:<span>1,837.76 EUR</span></span>
                  </div>
                  <a class="btn btn-lg btn-primary">Withdrawal</a>
                </div>
                <div class="col-md-6">
                  <p>After you’ve submitted your withdrawal request, we’ll send you a confirmation email. Please click the link in the email to confirm your withdrawal.</p>
                  <p> Withdrawal are currently sent out approximately every 30 minutes.</p>
                </div>
                </div>
              </td>
            </tr>
            <tr class="view">
              <td>ETH</td>
              <td>Ethereum</td>
              <td>0.17</td>
              <td>0.17</td>
              <td class="text-right">
                <a class="btn btn-sm btn-dark">Deposit</a>
                <a class="btn btn-sm btn-dark">Withdrawal</a>
                <a class="btn-link close-btn">Close</a>
              </td>
            </tr>
            <tr class="fold">
              <td colspan="5">
                <div class="row">
                  <div class="col-md-6">
                    <form>
                      <input type="text" placeholder="Address">
                      <input type="text" placeholder="Amount">
                    </form>
                    <div class="sec-heading d-flex justify-content-between align-content-center">
                      <div class="d-block">
                        <span class="est-value">Estimated value:<span>1,837.76 EUR</span></span>
                      </div>
                      <span class="est-value">Estimated value:<span>1,837.76 EUR</span></span>
                    </div>
                    <a class="btn btn-lg btn-primary">Withdrawal</a>
                  </div>
                  <div class="col-md-6">
                    <p>After you’ve submitted your withdrawal request, we’ll send you a confirmation email. Please click the link in the email to confirm your withdrawal.</p>
                    <p> Withdrawal are currently sent out approximately every 30 minutes.</p>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="view">
              <td>ETH</td>
              <td>Ethereum</td>
              <td>0.17</td>
              <td>0.17</td>
              <td class="text-right">
                <a class="btn btn-sm btn-dark">Deposit</a>
                <a class="btn btn-sm btn-dark">Withdrawal</a>
                <a class="btn-link close-btn">Close</a>
              </td>
            </tr>
            <tr class="fold">
              <td colspan="5">
                <div class="row">
                  <div class="col-md-6">
                    <form>
                      <input type="text" placeholder="Address">
                      <input type="text" placeholder="Amount">
                    </form>
                    <div class="sec-heading d-flex justify-content-between align-content-center">
                      <div class="d-block">
                        <span class="est-value">Estimated value:<span>1,837.76 EUR</span></span>
                      </div>
                      <span class="est-value">Estimated value:<span>1,837.76 EUR</span></span>
                    </div>
                    <a class="btn btn-lg btn-primary">Withdrawal</a>
                  </div>
                  <div class="col-md-6">
                    <p>After you’ve submitted your withdrawal request, we’ll send you a confirmation email. Please click the link in the email to confirm your withdrawal.</p>
                    <p> Withdrawal are currently sent out approximately every 30 minutes.</p>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="view">
              <td>ETH</td>
              <td>Ethereum</td>
              <td>0.17</td>
              <td>0.17</td>
              <td class="text-right">
                <a class="btn btn-sm btn-dark">Deposit</a>
                <a class="btn btn-sm btn-dark">Withdrawal</a>
                <a class="btn-link close-btn">Close</a>
              </td>
            </tr>
            <tr class="fold">
              <td colspan="5">
                <div class="row">
                  <div class="col-md-6">
                    <form>
                      <input type="text" placeholder="Address">
                      <input type="text" placeholder="Amount">
                    </form>
                    <div class="sec-heading d-flex justify-content-between align-content-center">
                      <div class="d-block">
                        <span class="est-value">Estimated value:<span>1,837.76 EUR</span></span>
                      </div>
                      <span class="est-value">Estimated value:<span>1,837.76 EUR</span></span>
                    </div>
                    <a class="btn btn-lg btn-primary">Withdrawal</a>
                  </div>
                  <div class="col-md-6">
                    <p>After you’ve submitted your withdrawal request, we’ll send you a confirmation email. Please click the link in the email to confirm your withdrawal.</p>
                    <p> Withdrawal are currently sent out approximately every 30 minutes.</p>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="view">
              <td>ETH</td>
              <td>Ethereum</td>
              <td>0.17</td>
              <td>0.17</td>
              <td class="text-right">
                <a class="btn btn-sm btn-dark">Deposit</a>
                <a class="btn btn-sm btn-dark">Withdrawal</a>
                <a class="btn-link close-btn">Close</a>
              </td>
            </tr>
            <tr class="fold">
              <td colspan="5">
                <div class="row">
                  <div class="col-md-6">
                    <form>
                      <input type="text" placeholder="Address">
                      <input type="text" placeholder="Amount">
                    </form>
                    <div class="sec-heading d-flex justify-content-between align-content-center">
                      <div class="d-block">
                        <span class="est-value">Estimated value:<span>1,837.76 EUR</span></span>
                      </div>
                      <span class="est-value">Estimated value:<span>1,837.76 EUR</span></span>
                    </div>
                    <a class="btn btn-lg btn-primary">Withdrawal</a>
                  </div>
                  <div class="col-md-6">
                    <p>After you’ve submitted your withdrawal request, we’ll send you a confirmation email. Please click the link in the email to confirm your withdrawal.</p>
                    <p> Withdrawal are currently sent out approximately every 30 minutes.</p>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="view">
              <td>ETH</td>
              <td>Ethereum</td>
              <td>0.17</td>
              <td>0.17</td>
              <td class="text-right">
                <a class="btn btn-sm btn-dark">Deposit</a>
                <a class="btn btn-sm btn-dark">Withdrawal</a>
                <a class="btn-link close-btn">Close</a>
              </td>
            </tr>
            <tr class="fold">
              <td colspan="5">
                <div class="row">
                  <div class="col-md-6">
                    <form>
                      <input type="text" placeholder="Address">
                      <input type="text" placeholder="Amount">
                    </form>
                    <div class="sec-heading d-flex justify-content-between align-content-center">
                      <div class="d-block">
                        <span class="est-value">Estimated value:<span>1,837.76 EUR</span></span>
                      </div>
                      <span class="est-value">Estimated value:<span>1,837.76 EUR</span></span>
                    </div>
                    <a class="btn btn-lg btn-primary">Withdrawal</a>
                  </div>
                  <div class="col-md-6">
                    <p>After you’ve submitted your withdrawal request, we’ll send you a confirmation email. Please click the link in the email to confirm your withdrawal.</p>
                    <p> Withdrawal are currently sent out approximately every 30 minutes.</p>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div id="History" class="container tab-pane fade">
        </div>
      </div>
    </div>
  </div>
</section>